extends layout

block content
  block message
  div#profile-header
    div#layout
      div#profile-picture
        a#duzenle( href="#") düzenle
        img#profile-img
      h1#ad-soyad #{name} #{surname}
      div#user-info 
        table#user-info-table
          tr#first-row
            td Yazılarım
            td#bio(rowspan="2") Arkadaşlar adım Batın Eryılmaz Bilgisayar Mühendisliği öğrencisiyim burada sizlerle blog yazılarımı paylaşacağım
          tr#second-row
            td#sayi 20
  div#post-page   
    form#post(method = "POST" action = "/profile")
      input#post-title(name = "postTitle" placeholder = "Baslik" type = "text")
      div#post-text
        input#post-text-input(name = "postText" placeholder = "Text" type = "text")
      input#tags(name = "postTags" placeholder = "#food #health #strawberry 'en fazla 3 tane'" type = "text")    
      button#content-paylas.btn.btn-primary.btn-lg.btn-block(type='submit') Paylaş
  div#profile-content
    div#postlar
        each post in posts
          div.post
            h1.baslik #{post.postTitle}
            p#on-yazi.on-yazi-class #{post.postText}
            a.devamini-oku(href=post.url) Devamını Oku
  div#add      
    ion-icon(name='add-circle' id="add-post")  
    ion-icon(name='add-circle' id="go-back")    
